<div class="container body">
    <div class="main_container">
        <!-- LEFT START -->
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="/dashboard" class="site_title"><span>JGC ASSET</span></a>
                </div>
                <div class="clearfix"></div>
                <!-- PROFILE START -->
                <div class="profile clearfix">
                    <div class="profile_pic" style="padding:50px 15px;">
                        <img src="~/Content/res/build/images/logo_new_jgc_3.png" alt="..." class="img-thumbnail profile_img">
                    </div>
                </div>
                <!-- PROFILE END -->
                <br />
                <!--SIDEMENU START -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <ul class="nav side-menu">
                            <li>
                                <a><i class="fa fa-cog"></i> Utilization<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li id="Menu" class="Rmv"><a href="/utilization/menu">Menu</a></li>
                                    <li id="Role" class="Rmv"><a href="/utilization/role">Role</a></li>
                                    <li id="Access" class="Rmv"><a href="/utilization/access">Access</a></li>
                                    <li id="Users" class="Rmv"><a href="/utilization/users">Users</a></li>
                                </ul>
                            </li>
                            
                        </ul>
                        <ul class="nav-util"></ul>
                        <ul class="nav side-menu">
                            <li><a href="/dashboard"><i class="fa fa-home"></i> Dashboard</a></li>
                            <li>
                                <a><i class="fa fa-barcode"></i> Assets <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li id="MasterAsset" class="Rmv"><a href="/asset">List of Assets</a></li>
                                    <li id="TranCheckOut" class="Rmv"><a href="/asset/checkout">Check Out</a></li>
                                    <li id="TranCheckIn" class="Rmv"><a href="/asset/checkin">Check In</a></li>
                                    <li id="TranAssetDispose" class="Rmv"><a href="/asset/dispose">Dispose</a></li>
                                    <li id="TranAssetTransfer" class="Rmv"><a href="/asset/transfer">Asset Transfer</a></li>
                                    <li id="TransAssetMaintenance" class="Rmv"><a href="/asset/maintenancedue">Asset Maintenance</a></li>
                                </ul>
                            </li>
                            <li>
                                <a><i class="fa fa-bar-chart-o"></i> Reports <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li id="RptAssetPastDue" class="Rmv"><a href="/asset/assetpastdue">Assets Past Due</a></li>
                                    <li id="RptWarrantiesExpiring" class="Rmv"><a href="/asset/warrantiesexpiring">Warranties Expiring</a></li>
                                    <li id="RptAnnualActivity" class="Rmv"><a href="/reports/customreports">Annual Activity</a></li>
                                    <li id="RptDepreciationSummary" class="Rmv"><a href="/reports/customreports">Depreciation Summary</a></li>
                                    <li id="RptFixAssetSummary" class="Rmv"><a href="/reports/customreports">Fixed Asset Summary/Register</a></li>
                                    <li id="RptAnnualProjection" class="Rmv"><a href="/reports/customreports">Annual Projection</a></li>
                                    <li id="RptPropertyTax" class="Rmv"><a href="/reports/customreports">Property Tax-Summary & Detail Report</a></li>
                                    
                                </ul>
                            </li>
                            <li>
                                <a><i class="fa fa-wrench"></i> Tools <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li id="Import" class="Rmv"><a href="/tools/import">Import</a></li>
                                    <li id="Export" class="Rmv"><a href="/tools/export">Export</a></li>
                                    <li id="Audit" class="Rmv"><a href="/tools/audit">Audit</a></li>
                                </ul>
                            </li>
                            <li>
                                <a><i class="fa fa-gear"></i> Setup <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li id="MasterCompany" class="Rmv"><a href="/setup/companyinfo">Company Info</a></li>
                                    <li id="MasterEmployee" class="Rmv"><a href="/setup/persons">Persons/Employees</a></li>
                                    <li id="MasterSite" class="Rmv"><a href="/setup/sites">Sites</a></li>
                                    <li id="MasterSupplier" class="Rmv"><a href="/setup/suppliers">Suppliers</a></li>
                                    <li id="MasterLocation" class="Rmv"><a href="/setup/locations">Locations</a></li>
                                    <li id="MasterBrand" class="Rmv"><a href="/setup/assetbrand">Asset Brand</a></li>
                                    <li id="MasterCategories" class="Rmv"><a href="/setup/categories">Asset Categories</a></li>
                                    <li id="MasterModel" class="Rmv"><a href="/setup/assetmodel">Asset Model</a></li>
                                    <li id="MasterAssetType" class="Rmv"><a href="/setup/assettypes">Asset Types</a></li>
                                    <li id="MasterAssetStatus" class="Rmv"><a href="/setup/assetstatus">Asset Status</a></li>
                                    <li id="MasterDepartment" class="Rmv"><a href="/setup/departments">Departments</a></li>
                                    <li id="MasterExchangeRate" class="Rmv"><a href="/setup/exchangerate">Exchange Rate</a></li>
                                    <li id="MasterCurrency" class="Rmv"><a href="/setup/currencies">Currencies</a></li>
                                    <li id="MasterBarcode" class="Rmv"><a href="/setup/barcode">Barcode</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- SIDEMENU END -->
                <!-- SIDEFOOTER START -->
                <div class="sidebar-footer hidden-small">
                    <a data-toggle="tooltip" data-placement="top" title="Settings">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                        <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Lock">
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                    </a>
                    <a data-toggle="tooltip" data-placement="top" title="Logout" href="/login">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                </div>
                <!-- SIDEFOOTER END -->
            </div>
        </div>
        <!-- LEFT END -->
        <script type="text/javascript">
            $.ajax({
                url: '@Url.Action("Master", "Menu")',
                type: 'post',
                cache: false,
                async: true,
                success: function (response) {
                    $.each(response, function (k, v)
                    {
                        $("#sidebar-menu").find("#" + v.MenuID).removeClass("Rmv");
                    })
                    $(".Rmv").remove();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    //alert("Mohon Tunggu...");
                }
            });
        </script>
